/* p{
  text-align: center;
} */
body{
  background-color: aliceblue;
}
h2{
  font-family: cursive;
  font-size: 30px;
}
.left{
  text-align: left;
}
/* .hehe{
  font-family: cursive;
} */
.blue{
  background: pink;
  padding: 18px
}
.center{
  text-align: center;
  
}
.column{
  float: left;
  width: 50%;
}
.row:after{
  content:"";
  display: table;
  clear: both;
}
.brown{
  color:brown;
}
.pink{
  background-color: rgb(243, 164, 177);
}





.navbar{
  background-color: dimgray;
  overflow: hidden;
}
.navbar a{
  float: left;
  color: azure;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 18px;
}
.navbar a:hover{
  background-color:palevioletred;
  color: lemonchiffon;
}
.navbar a.active{
  background-color:crimson;
  color:gold;
}
