/* p{
  text-align: center;
} */
body{
  background-color: aliceblue;
}
h2{
  font-family: cursive;
  font-size: 30px;
}
.left{
  text-align: left;
}
/* .hehe{
  font-family: cursive;
} */
.blue{
  background: pink
}
.center{
  text-align: center;
  
}
.column{
  float: left;
  width: 50%;
}
.row:after{
  content:"";
  display: table;
  clear: both;
}
.brown{
  color:brown;
}
.pink{
  background-color: rgb(243, 164, 177);
}