p{
  text-align: center;
}
body{
  background-color: rgb(24, 224, 204);
}
h2{
  font-family: cursive;
  font-size: 30px;
}
.left{
  text-align: left;
}
.hehe{
  font-family: fantasy
}
.blue{
  background: pink
}